.header {
    background-image: url("../assets/Desktop_Backgrounds_1920x1200_6\ 3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 84.8vh;
    max-height: 822px;
    color: #fff;
    text-align: center;
}