@import "./header";
@import "./menu";
@import "./video-section";
@import "./text-section";
@import "./footer";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  button {
    cursor: pointer;
  }